Repository transferwise/neptune-web, pull requests merged in 2022-03, with the labels that each got.

#1339 feat[dynamic-flows]: Only refreshFormOnChange if the triggering model is or was valid
  packages/dynamic-flows/src/flow/DynamicFlow.js
  packages/dynamic-flows/src/flow/DynamicFlow.spec.js
Labels: dynamic-flows, change:standard

#1348 test:(dynamic-flow): avoid a "global" component object in DynamicFlow.spec.js
  packages/dynamic-flows/src/flow/DynamicFlow.spec.js
Labels: dynamic-flows, change:standard

#1350 feat(dynamic-flow): add debouncing when refreshing string schemas
  packages/dynamic-flows/package.json
  packages/dynamic-flows/src/common/schemaTypes/shouldDebounceSchema.js
  packages/dynamic-flows/src/common/schemaTypes/shouldDebounceSchema.spec.js
  packages/dynamic-flows/src/flow/DynamicFlow.end-to-end.spec.js
  packages/dynamic-flows/src/flow/DynamicFlow.js
  packages/dynamic-flows/src/flow/DynamicFlow.spec.js
  packages/dynamic-flows/src/flow/_storybook/mockFetcher.js
  packages/dynamic-flows/src/flow/examples/recipient_details.json
  packages/dynamic-flows/src/flow/useDebouncedRefresh/index.js
  packages/dynamic-flows/src/flow/useDebouncedRefresh/useDebouncedRefresh.js
  packages/dynamic-flows/src/flow/useDebouncedRefresh/useDebouncedRefresh.spec.js
Labels: dynamic-flows, change:standard

#1338 feat(UploadInput): Add additional props to UploadInput to make it customisable with DF/other clients
  packages/components/src/uploadInput/UploadInput.spec.tsx
  packages/components/src/uploadInput/UploadInput.story.tsx
  packages/components/src/uploadInput/UploadInput.tsx
  packages/components/src/uploadInput/uploadButton/UploadButton.spec.tsx
  packages/components/src/uploadInput/uploadButton/UploadButton.tsx
Labels: neptune

#1352 docs: fix JsonSchemaForm onChange prop JS doc
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.js
Labels: dynamic-flows, change:standard

#1353 fix(dynamic-flows): ignore invalid property names in displayOrder array in ObjectSchema
  packages/dynamic-flows/src/jsonSchemaForm/objectSchema/ObjectSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/objectSchema/ObjectSchema.spec.js
Labels: dynamic-flows, change:standard

#1354 fix(UploadInput): Add passed id to label 'for' over the input button contents…
  packages/components/src/uploadInput/uploadButton/UploadButton.tsx
Labels: neptune

#1355 feat(dynamic-flows): Correct the title description mapping and add default error messages
  packages/dynamic-flows/src/common/hooks/useUniqueId.js
  packages/dynamic-flows/src/common/messages.js
  packages/dynamic-flows/src/common/utils/file-utils.js
  packages/dynamic-flows/src/common/validation/rule-validators/index.js
  packages/dynamic-flows/src/common/validation/validation-failures/index.js
  packages/dynamic-flows/src/i18n/en.json
  packages/dynamic-flows/src/jsonSchemaForm/arrayTypeSchema/ArraySchema.messages.js
  packages/dynamic-flows/src/jsonSchemaForm/arrayTypeSchema/arrayListSchema/multipleFileUploadSchema/MultipleFileUploadSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/arrayTypeSchema/arrayListSchema/multipleFileUploadSchema/MultipleFileUploadSchema.messages.js
  packages/dynamic-flows/src/jsonSchemaForm/arrayTypeSchema/arrayListSchema/multipleFileUploadSchema/MultipleFileUploadSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/schemas/base64Url_MultipleFileUpload.json
  packages/dynamic-flows/src/jsonSchemaForm/schemas/blob_MultipleFileUpload.json
  packages/dynamic-flows/src/jsonSchemaForm/stories/arraySchema.story.js
Labels: dynamic-flows, change:standard

#1358 refactor(dynamic-flows): build the crowdin source file
  packages/dynamic-flows/src/i18n/en.json
Labels: change:standard

#1359 feat(dynamic-flows): Update the array schema's "required" behaviour
  packages/dynamic-flows/src/common/validation/rule-validators/index.js
  packages/dynamic-flows/src/common/validation/rule-validators/spec.js
  packages/dynamic-flows/src/common/validation/validation-failures/index.js
  packages/dynamic-flows/src/jsonSchemaForm/arrayTypeSchema/arrayListSchema/multipleFileUploadSchema/MultipleFileUploadSchema.spec.js
Labels: change:standard

#1357 fix(dynamic-flows): LayoutService bug when converting decision steps
  packages/dynamic-flows/src/step/layoutStep/layoutService/LayoutService.js
  packages/dynamic-flows/src/step/layoutStep/layoutService/LayoutService.spec.js
Labels: dynamic-flows, change:standard

#1356 feat(dynamic-flows): Disable action buttons during persist-async
  packages/dynamic-flows/src/common/contexts/dynamicFlowContext/dynamicFlowContext.js
  packages/dynamic-flows/src/common/contexts/dynamicFlowContext/dynamicFlowContext.tsx
  packages/dynamic-flows/src/common/contexts/dynamicFlowContext/usePendingPromiseCounter.spec.js
  packages/dynamic-flows/src/common/contexts/dynamicFlowContext/usePendingPromiseCounter.ts
  packages/dynamic-flows/src/flow/DynamicFlow.end-to-end.spec.js
  packages/dynamic-flows/src/flow/DynamicFlow.story.js
  packages/dynamic-flows/src/flow/_storybook/mockFetcher.js
  packages/dynamic-flows/src/flow/examples/persist_async_step.json
  packages/dynamic-flows/src/step/layoutStep/LayoutStep.js
Labels: dynamic-flows, change:standard

#1364 refactor(dynamic-flows): Avoid using HoC in ErrorBoundary component
  packages/dynamic-flows/src/flow/errorBoundary/ErrorBoundary.js
  packages/dynamic-flows/src/flow/errorBoundary/ErrorBoundary.tsx
  packages/dynamic-flows/src/flow/errorBoundary/ErrorBoundaryAlert.tsx
Labels: dynamic-flows, change:standard

#1366 build: fix crowdin configuration
  crowdin.yml
Labels: dynamic-flows, change:standard

#1362 feat(dynamic-flows): add support for refresh on submit
  packages/dynamic-flows/src/flow/DynamicFlow.js
  packages/dynamic-flows/src/flow/DynamicFlow.spec.js
  packages/dynamic-flows/src/flow/useDebouncedRefresh/useDebouncedRefresh.js
Labels: dynamic-flows, change:standard

#1370 fix(dynamic-flows): min/max validation messages
  packages/dynamic-flows/src/jsonSchemaForm/basicTypeSchema/BasicTypeSchema.errors.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/controlFeedback/ControlFeedback.js
Labels: change:standard

#1372 fix:(dynamic-flows) Fix DynamicIcon props
  packages/dynamic-flows/src/layout/decision/index.js
  packages/dynamic-flows/src/layout/decision/spec.js
Labels: dynamic-flows, change:standard

#1373 test(dynamic-flows):Storybook improvements
  packages/dynamic-flows/src/flow/DynamicFlowInitialStep.story.js
  packages/dynamic-flows/src/flow/examples/decision.json
  packages/dynamic-flows/src/flow/examples/recipient_details.json
  packages/dynamic-flows/src/flow/examples/recipient_details_refresh.json
Labels: dynamic-flows, change:standard

#1375 feat(dynamic-flows): localise default validation messages in ControlFeedback component
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.end-to-end.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/basicTypeSchema/BasicTypeSchema.errors.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/basicTypeSchema/BasicTypeSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/controlFeedback/ControlFeedback.js
  packages/dynamic-flows/src/jsonSchemaForm/controlFeedback/ControlFeedback.messages.js
  packages/dynamic-flows/src/jsonSchemaForm/controlFeedback/ControlFeedback.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/objectSchema/ObjectSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/oneOfSchema/OneOfSchema.spec.js
  packages/dynamic-flows/src/layout/DynamicLayout.end-to-end.spec.js
  packages/dynamic-flows/src/test-utils/index.js
Labels: dynamic-flows, change:standard

#1376 fix(dynamic-flows): update en.json file after new messages were added
  packages/dynamic-flows/src/i18n/en.json
Labels: dynamic-flows, change:standard

#1377 refactor(dynamic-flows): Remove unused references to locale and translations props
  packages/dynamic-flows/src/field/Field.js
  packages/dynamic-flows/src/flow/DynamicFlow.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.end-to-end.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.js
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/allOfSchema/AllOfSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/allOfSchema/AllOfSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/arrayTypeSchema/ArraySchema.js
  packages/dynamic-flows/src/jsonSchemaForm/arrayTypeSchema/arrayListSchema/ArrayListSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/arrayTypeSchema/arrayListSchema/multipleFileUploadSchema/MultipleFileUploadSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/basicTypeSchema/BasicTypeSchema.errors.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/basicTypeSchema/BasicTypeSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/basicTypeSchema/BasicTypeSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/genericSchema/GenericSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/genericSchema/GenericSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/objectSchema/ObjectSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/objectSchema/ObjectSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/oneOfSchema/OneOfSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/oneOfSchema/OneOfSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/persistAsyncSchema/PersistAsyncSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/persistAsyncSchema/PersistAsyncSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/persistAsyncSchema/basic/PersistAsyncBasicSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/persistAsyncSchema/basic/PersistAsyncBasicSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/persistAsyncSchema/blob/PersistAsyncBlobSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/promotedOneOfSchema/PromotedOneOfSchema.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/schemaFormControl/SchemaFormControl.js
  packages/dynamic-flows/src/jsonSchemaForm/schemaFormControl/SchemaFormControl.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/schemas/config.json
  packages/dynamic-flows/src/jsonSchemaForm/stories/utils.js
  packages/dynamic-flows/src/jsonSchemaForm/validationAsyncSchema/ValidationAsyncSchema.spec.js
Labels: dynamic-flows, change:standard

#1379 feat(dynamic-flows): update default validation messages
  packages/dynamic-flows/package.json
  packages/dynamic-flows/src/flow/DynamicFlowInitialStep.story.js
  packages/dynamic-flows/src/flow/examples/date.json
  packages/dynamic-flows/src/formControl/FormControl.js
  packages/dynamic-flows/src/i18n/en.json
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.end-to-end.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/basicTypeSchema/BasicTypeSchema.errors.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/controlFeedback/ControlFeedback.js
  packages/dynamic-flows/src/jsonSchemaForm/controlFeedback/ControlFeedback.messages.js
  packages/dynamic-flows/src/jsonSchemaForm/controlFeedback/ControlFeedback.messages.ts
Labels: dynamic-flows, change:standard
