Repository transferwise/neptune-web, pull requests merged in 2022-01, with the labels that each got.

#1273 fix: OneOfSchema now persists the model of each of the child schemas.
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.end-to-end.spec.js
  packages/dynamic-flows/src/jsonSchemaForm/genericSchema/GenericSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/oneOfSchema/OneOfSchema.js
Labels: dynamic-flows

#1279 fix: Avoid HttpClient singleton
  packages/dynamic-flows/src/flow/DynamicFlow.js
  packages/dynamic-flows/src/flow/client/HttpClient.js
  packages/dynamic-flows/src/flow/client/HttpClient.spec.js
  packages/dynamic-flows/src/flow/client/index.js
Labels: dynamic-flows

#1282 fix: Avoid rendering broken img tag in DynamicImage
  packages/dynamic-flows/.storybook/storybook.css
  packages/dynamic-flows/src/layout/DynamicLayout.story.js
  packages/dynamic-flows/src/layout/image/index.js
  packages/dynamic-flows/src/layout/image/spec.js
  packages/dynamic-flows/src/layout/layouts/final-step-layout.json
Labels: dynamic-flows

#1278 feat: Allow specifying extra headers in HttpClient constructor
  packages/dynamic-flows/src/flow/client/HttpClient.js
  packages/dynamic-flows/src/flow/client/HttpClient.spec.js
  packages/dynamic-flows/src/flow/index.js
  packages/dynamic-flows/src/index.js
  packages/dynamic-flows/src/ssr.spec.js
Labels: dynamic-flows

#1284 fix: Add baseUrl context provider to DynamicLayout
  packages/dynamic-flows/src/common/contexts/baseUrlContext/BaseUrlContext.js
  packages/dynamic-flows/src/flow/DynamicFlow.js
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.js
  packages/dynamic-flows/src/layout/DynamicLayout.js
  packages/dynamic-flows/src/layout/DynamicLayout.story.js
  packages/dynamic-flows/src/test-utils/index.js
Labels: dynamic-flows

#1287 fix: auto-formatting artefact
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.js
Labels: dynamic-flows

#1288 fix: HttpClient to support requests to absolute URLs even when a baseURL is set
  packages/dynamic-flows/src/flow/client/HttpClient.js
  packages/dynamic-flows/src/flow/client/HttpClient.spec.js
Labels: dynamic-flows

#1295 feat: Add an optional fetcher prop to the Upload component
  packages/components/src/upload/Upload.js
  packages/components/src/upload/utils/postData/postData.js
  packages/components/src/upload/utils/postData/postData.spec.js
Labels: neptune

#1294 feat: DynamicFlow - Remove httpClient prop in favour of a fetcher prop
  packages/dynamic-flows/src/common/async/url.js
  packages/dynamic-flows/src/common/async/url.spec.js
  packages/dynamic-flows/src/common/contexts/baseUrlContext/BaseUrlContext.js
  packages/dynamic-flows/src/common/contexts/fetcherContext/fetcherContext.js
  packages/dynamic-flows/src/common/contexts/fetcherContext/index.js
  packages/dynamic-flows/src/common/contexts/fetcherContext/makeFetcher.js
  packages/dynamic-flows/src/common/contexts/fetcherContext/makeFetcher.spec.js
  packages/dynamic-flows/src/flow/DynamicFlow.end-to-end.spec.js
  packages/dynamic-flows/src/flow/DynamicFlow.js
  packages/dynamic-flows/src/flow/DynamicFlow.spec.js
  packages/dynamic-flows/src/flow/DynamicFlow.story.js
  packages/dynamic-flows/src/flow/_storybook/mockFetcher.js
  packages/dynamic-flows/src/flow/client/HttpClient.js
  packages/dynamic-flows/src/flow/client/HttpClient.spec.js
  packages/dynamic-flows/src/flow/client/index.js
  packages/dynamic-flows/src/flow/index.js
  packages/dynamic-flows/src/index.js
  packages/dynamic-flows/src/jsonSchemaForm/JsonSchemaForm.js
  packages/dynamic-flows/src/jsonSchemaForm/persistAsyncSchema/basic/PersistAsyncBasicSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/persistAsyncSchema/blob/PersistAsyncBlobSchema.js
  packages/dynamic-flows/src/jsonSchemaForm/validationAsyncSchema/ValidationAsyncSchema.js
  packages/dynamic-flows/src/layout/DynamicLayout.js
  packages/dynamic-flows/src/layout/image/index.js
  packages/dynamic-flows/src/test-utils/index.js
Labels: dynamic-flows

#1289 feat(UploadInput): optionally restrict the maximum number of files to upload
  packages/components/src/i18n/en.json
  packages/components/src/uploadInput/UploadInput.less
  packages/components/src/uploadInput/UploadInput.messages.ts
  packages/components/src/uploadInput/UploadInput.spec.tsx
  packages/components/src/uploadInput/UploadInput.story.tsx
  packages/components/src/uploadInput/UploadInput.tsx
  packages/components/src/uploadInput/uploadButton/UploadButton.spec.tsx
  packages/components/src/uploadInput/uploadButton/UploadButton.tsx
Labels: neptune

#1299 fix(dynamic-flows): Fix input focus after a refresh
  packages/dynamic-flows/src/common/contexts/dynamicFlowContext/dynamicFlowContext.js
  packages/dynamic-flows/src/flow/DynamicFlow.end-to-end.spec.js
  packages/dynamic-flows/src/flow/DynamicFlow.js
  packages/dynamic-flows/src/flow/_storybook/mockFetcher.js
  packages/dynamic-flows/src/flow/examples/recipient_details_refresh.json
  packages/dynamic-flows/src/layout/button/index.js
Labels: dynamic-flows, change:standard

#1306 Allow id prop on InlineAlert
  packages/components/src/inlineAlert/InlineAlert.js
Labels: change:standard

#1300 New or updated Crowdin translations
  packages/components/src/i18n/cs.json
  packages/components/src/i18n/de.json
  packages/components/src/i18n/es.json
  packages/components/src/i18n/fr.json
  packages/components/src/i18n/hu.json
  packages/components/src/i18n/id.json
  packages/components/src/i18n/it.json
  packages/components/src/i18n/ja.json
  packages/components/src/i18n/pl.json
  packages/components/src/i18n/pt.json
  packages/components/src/i18n/ro.json
  packages/components/src/i18n/ru.json
  packages/components/src/i18n/tr.json
  packages/components/src/i18n/uk.json
  packages/components/src/i18n/zh.json
Labels: change:standard
